.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
  background-color: #fff;
  &_title {
    &_text {
      font-family: -apple-system, system-ui, "BlinkMacSystemFont", sans-serif;
      font-size: 50px;
      color: #10b981;
    }
  }
  &_nav {
    &_ul {
      display: flex;
      &_list {
        list-style-type: none;
        margin-right: 15px;
      }
      &_link {
        &:hover {
          color: #10b981;
          transition: all 0.4s;
        }
        text-decoration: none;
        font-family: system-ui, -apple-system, Open Sans, Helvetica Neue,
          sans-serif;
        letter-spacing: 3px;
        color: #000;
      }
    }
  }
}
